@import '../../styles/_vars';

.btn {
	&:focus {
		outline: 0;
	}
	padding: 0;
	border: none;
	cursor: pointer;
	&:active {
		padding: 0;
	}
}

.btn-player {
	font-size: 1.5rem;
	width: 41px;
	height: 41px;
	line-height: 38px;
	border-radius: 50%;
	background: transparent;
	&:hover, &:active {
		background: lighten($grayColor, 20%);
		color: $redColor;
	}
	&.volume-mod {
		margin: 0 7px 0 0;
	}
}

.btn-volume-wrapper {
	position: relative;
	&:hover {
		&:before {
			content: '';
			position: absolute;
			width: 248px;
			height: 62px;
			right: -44px;
			top: -59px;
		}
		.player-volume-slider {
			opacity: 1;
			z-index: 10;
			visibility: visible;

		}
		.btn-player.volume-mod {
			background: lighten($grayColor, 20%);
		}
	}
}

.btn-theme-switcher {
	height: 32px;
	width: 32px;
	min-width: 32px;
	font-size: 1.3rem;
	background: transparent;
	border-radius: 50%;
	margin: 0 0 0 15px;
	&.day-mod {
		color: #5f6368;
		box-shadow: 0 1px 2px 0 rgba(25, 25, 34, 0.12);
		background: #fefefe;
		&:hover {
			color: #222;
			box-shadow: 0 1px 2px 0 rgba(25, 25, 34, 0.12);
		}
		&:active {
			color: $redColor;
			background: #f0f0f0;
			box-shadow: 0 1px 2px 0 rgba(25, 25, 34, 0.12);
		}
	}
	&.night-mod {
		color: #848484;
		background: #253341;
		box-shadow: 0 4px 20px 0 rgba(25, 25, 34, .24);
		&:hover {
			color: #dadada;
			background: #253341;
		}
		&:active {
			color: $neonNightColor;
			background: lighten(#253341,3%);
		}
	}
}

.btn-play {
	display: block;
	color: #fefefe;
	font-size: 1.5rem;
	width: 60px;
	height: 60px;
	background: rgba($redColor,.7);
	opacity: 0;
	border-radius: 4px;
	z-index: 5;
	position: absolute;
	top: 24px;
	left: 20px;
	text-shadow: 0 0 10px #FFF;
	transition: text-shadow .15s ease-in-out;

	&:before {
		content: '';
		position: absolute;
		width: 56px;
		height: 56px;
		background: rgba($redColor,.65);
		filter: blur(5px);
		-webkit-filter: blur(5px);
		left: 2px;
		top: 2px;
		transition: .15s ease-in;
	}

	&.buffering-mod {
		opacity: 1;
		&:after {
			animation: spinAround .5s infinite linear;
			content: '';
			position: absolute;
			border: 3px solid #fefefe;
			border-radius: 290486px;
			border-right-color: transparent;
			border-top-color: transparent;
			height: 1em;
			width: 1em;
			left: 17px;
			top: 18px;
		}
	}
	&.playing-mod {
		opacity: 1;
	}
	& * {
		position: relative;
		z-index: 5;
	}

	&:hover {
		&:before {
			background: rgba($redColor,.88);
		}
	}
}

.wrapper.night-mod {
	.btn-play {
		background: rgba($neonNightColor,.7);
		&:before {
			background: rgba($neonNightColor,.65);
		}
		&:hover {
			&:before {
				background: rgba($neonNightColor,.88);
			}
		}
	}

	.btn-player {
		color: $neonNightColor;
		&:hover, &:active {
			background: #23435e;
		}
	}

	.btn-volume-wrapper {
		&:hover {
			.btn-player.volume-mod {
				background: #23435e;
			}
		}
	}
}