$blueColorLight: #7395AE;
$skinColor: #ede2dc;
$grayColor: #bbb2b5;
$blueColor: #123d6a;
$peachyColor: #edc8b8;
$redColor: #ab3b61;

$darkBlueNightColor: #15202b;
$contentBgNightColor: #2e3b47;
$contentBgNightHoverColor: #192734;
$xhamsterNightColor: #303030;
$neonNightColor: #1da1f2;